/* 
    Base rules for formatting elements which are true for all pages.
*/

$grid-opacity: 0.15;
$grid-thickness: 0.1rem;
$grid-spacing: 2rem;

// makes sure padding is included when content widths are established
*::before,
*::after {
  box-sizing: border-box; /* 1 */
}

// Set a max-width on images to prevent them from overflowing their containers
img, picture, video, canvas, svg {
  max-width: 100%;
  height: auto;
}

body {
    max-width: 58rem;
    margin-left: auto;
    margin-right: auto;
    
    //grid paper background
    background-color: white;
    background-size: $grid-spacing $grid-spacing;
    background-image:
        repeating-linear-gradient(
            to bottom,
            rgba(var(--_color-grid), $grid-opacity) 0,
            rgba(var(--_color-grid), $grid-opacity) $grid-thickness,
            transparent $grid-thickness,
            transparent $grid-spacing
        ),
        repeating-linear-gradient(
            to right,
            rgba(var(--_color-grid), $grid-opacity) 0,
            rgba(var(--_color-grid), $grid-opacity) $grid-thickness,
            transparent $grid-thickness,
            transparent $grid-spacing
        );
    background-position:
        0 calc(-#{$grid-thickness}/2),
        calc(50% - #{$grid-thickness} / 2) 0;
  
  
  

}
