/* 
    Base rules for formatting elements which are true for all pages.
*/

// makes sure padding is included when content widths are established
*::before,
*::after {
  box-sizing: border-box; /* 1 */
}

// Set a max-width on images to prevent them from overflowing their containers
img, picture, video, canvas, svg {
  max-width: 100%;
  height: auto;
}

body {
    max-width: 54rem;
    margin-left: auto;
    margin-right: auto;

    //grid paper background
    background-color: $color-light;
    background-image: 
        linear-gradient(rgba($color-dark, $grid-opacity) $grid-thickness, transparent .1rem),
        linear-gradient(90deg, rgba($color-dark, $grid-opacity) $grid-thickness, transparent .1rem);
    background-size: 2rem 2rem;
    background-position: calc(50% - #{$grid-thickness}/2) calc(-#{$grid-thickness}/2);

}
