/*
    Harmonize fonts/text-formatting across the site.
*/

$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Use a modular scale for font sizes
$font-size-h1: 3.0rem;
$font-size-h2: 2.5rem;
$font-size-h3: 2.0rem;
$font-size-h4: 1.8rem;
$font-size-h5: 1.6rem;
$font-size-h6: 1.4rem;
$font-size-p: 1.2rem;

* {
  font-size: $font-size-p;
  line-height: $font-size-p + 0.1rem;
  font-family: $font-atkinson-hyperlegible-next;
  color: $color-dark;
}

p {
  text-align: justify;
}

h1,h2,h3,h4,h5,h6,p {
  margin-bottom: 1rem;
}

h1, h2, h3        { 
  margin-top: 0.2rem;
  font-family: $font-tilt-warp;
  font-weight: $font-weight-bold;
}
h4, h5, h6 { 
  font-family: $font-plus-jakarta;
  font-weight: $font-weight-semibold;
}

h1 { font-size: $font-size-h1; line-height: $font-size-h1 + 0.1rem; }
h2 { font-size: $font-size-h2; line-height: $font-size-h2 + 0.1rem; }
h3 { font-size: $font-size-h3; line-height: $font-size-h3 + 0.1rem; }
h4 { font-size: $font-size-h4; line-height: $font-size-h4 + 0.1rem; }
h5 { font-size: $font-size-h5; line-height: $font-size-h5 + 0.1rem; }
h6 { font-size: $font-size-h6; line-height: $font-size-h6 + 0.1rem; }

em {
  font-style: italic;
}

a {
  color: #007bff; 
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: #df00c9;
  }
}

ul, ol {
  margin-bottom: 1rem;
  padding-left: 2rem;
}

li {
  list-style-type: disc;
}

strong, b {
  font-weight: $font-weight-bold;
}
