/*
    Harmonize fonts/text-formatting across the site.
*/

// Atkinson Hyperlegible Next
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,400;0,600;1,400&display=swap');
$font-atkinson-hyperlegible-next: "Atkinson Hyperlegible Next", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp:wght@300;400;500;600;700;800&display=swap');
$font-tilt-warp: "Tilt Warp", sans-serif;

// Plus Jakarta Sans - Clean modern sans-serif
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
$font-plus-jakarta: "Plus Jakarta Sans", sans-serif;

$font-weight-black:     800;
$font-weight-bold:      700;
$font-weight-semibold:  600;
$font-weight-normal:    400;
$font-weight-light:     300;

$font-size-h1:  2.5rem;
$font-height-h1:2.75rem;
$font-weight-h1:$font-weight-black;
$font-family-h1:$font-tilt-warp;

$font-size-h2:  2.0rem;
$font-height-h2:2.25rem;
$font-weight-h2:$font-weight-bold;
$font-family-h2:$font-tilt-warp;

$font-size-h3:  1.6rem;
$font-height-h3:1.75rem;
$font-weight-h3:$font-weight-bold;
$font-family-h3:$font-tilt-warp;

$font-size-h4:    1.4rem;
$font-height-h4:  1.5rem;
$font-weight-h4:$font-weight-semibold;
$font-family-h4:$font-plus-jakarta;

$font-size-h5:  1.2rem;
$font-height-h5:1.5rem;
$font-weight-h5:$font-weight-semibold;
$font-family-h5: $font-plus-jakarta;

$font-size-h6:  1.0rem; 
$font-height-h6:1.25rem;
$font-weight-h6:$font-weight-semibold;
$font-family-h6:$font-plus-jakarta;

// Set default font settings
h1,h2,h3,h4,h5,h6,p,li{
  font-family: $font-atkinson-hyperlegible-next;
  font-weight: $font-weight-normal;
  font-size: 1.05rem;
  line-height: 1.4rem;
  color: $color-dark;
  margin-bottom: 0.75rem;
}

// Enumerate the fonts h1-h6
$font-sizes: (1: $font-size-h1, 2: $font-size-h2, 3: $font-size-h3, 4: $font-size-h4, 5: $font-size-h5, 6: $font-size-h6);
$font-heights: (1: $font-height-h1,2: $font-height-h2,3: $font-height-h3,4: $font-height-h4,5: $font-height-h5,6: $font-height-h6);
$font-weights: (1: $font-weight-h1,2: $font-weight-h2,3: $font-weight-h3,4: $font-weight-h4,5: $font-weight-h5,6: $font-weight-h6);
$font-families: (1: $font-family-h1,2: $font-family-h2,3: $font-family-h3,4: $font-family-h4,5: $font-family-h5,6: $font-family-h6);
@for $i from 1 through 6 {
  h#{$i} {
    font-size: map-get($font-sizes, $i);
    line-height: map-get($font-heights, $i);
    font-weight: map-get($font-weights, $i);
    font-family: map-get($font-families, $i);
    margin-bottom: calc(#{map-get($font-heights, $i)}/2) ;
  }
}

p {
  text-align: justify;
}

ul, ol {
  margin-bottom: 1rem;
  padding-left: 2rem;

}

li {
  list-style-type: disc;
}

em {
  font-style: italic;
}

a {
  color: $color-hyperlink; 
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $color-hyperlink-hover;
  }
}

strong, b {
  font-weight: $font-weight-bold;
}
