baseURL = 'https://jolfss.github.io/' # May be jolfss.io or something similar.
languageCode = 'en-us'
title = "Sean's Personal Website"
enableRobotsTXT = true

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      # Allow raw HTML in markdown (needed for Tree-sitter pre-rendered code blocks)
      unsafe = true
    [markup.goldmark.extensions]
      [markup.goldmark.extensions.passthrough]
        enable = true
        [markup.goldmark.extensions.passthrough.delimiters]
          block = [['$$', '$$']]
          inline = [['$', '$']]
  [markup.highlight]
    anchorLineNos = false
    codeFences = true
    guessSyntax = true
    lineNos = false
    lineNumbersInTable = false
    noClasses = true
    style = 'github'
    tabWidth = 4
