/* 
    Containers (c-*) are UI elements that govern the lowest level of the UI; they 
    are used to create consistent layouts for different types of content.

    Variants: 
        - c-tag
        - c-squircle
*/

.c-tag {
    color: var(--color-text);
    background: var(--color-bg); 
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0 rgba(var(--_color-dark), 0.5);
    font-family: $font-atkinson-hyperlegible-next;
    font-weight: $font-weight-bold;
    
    transition: all 0.3s ease;
    &:hover {
        color: var(--color-bg);    
        background: var(--color-text);
        text-decoration: none;
        padding: 0.5rem 2rem;
    }
}

.c-squircle {
    box-shadow: 0 0rem 0.5rem 0 rgba(var(--_color-dark), 0.5);
    border-radius: 1rem;
    overflow: hidden;
    height: fit-content;
    > img {
        height: auto;
        width: 100%;
    }
}