/*
    Templates (t-*) govern the middle level of the UI; they break panels into sections.
*/

@mixin split-first($divisor) {
    display: flex;
    flex-direction: row;

    & > :first-child {
        flex: 1;
    }
    & > :last-child {
        margin-left: 2rem;
        flex: calc(#{$divisor} - 1);
    }

    @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
        & > :first-child {
            flex: 1; 
        }
        & > :last-child {
            margin-top: $grid-spacing;
            margin-left: 0;
            flex: calc(#{$divisor} - 1);
            margin-bottom: $grid-spacing;
        }
    }
}

// enumerate some split classes
@for $i from 2 through 6 {
    .t-split-first-#{$i} {
        @include split-first($i);
        @media (max-width: $mobile-breakpoint) {
            @include split-first(calc(#{$i} - 2));
        }
    }
  }

@mixin vstack() {
    display: flex;
    flex-direction: column;
}

@mixin hstack() {
    display: flex;
    flex-direction: row;
}

.t-minor-stack {
    @include hstack();
    @media (max-width: $mobile-breakpoint) {
        @include vstack();
    }
}

.t-major-stack {
    @include vstack();
    @media (max-width: $mobile-breakpoint) {
        @include hstack();
    }
}
