/*
    Define global variables {fonts, colors, etc.} for the site.
*/

$grid-opacity: 0.15;
$grid-thickness: 0.1rem;

// Light Theme
$color-light: hsl(0,0,100%);
$color-hyperlink: #0b75e6; 
$color-hyperlink-hover: #df00c9;

$color-dark: rgb(0, 42, 94);
// $color-light: rgb(26, 30, 44);
// $color-dark: rgb(176, 174, 166);