@mixin split-lr($divisor) {
    display: flex;
    & > :first-child {
        margin-right: 2rem;
        flex: 0 1 calc(100% / #{$divisor});
    }
    & > :last-child {
        flex: 0 1 calc(100% - (100% / #{$divisor}));
    }
}
