/*
    Define global variables {fonts, colors, etc.} for the site.
*/

$grid-opacity: 0.15;
$grid-thickness: 0.1rem;
$color-dark: rgb(0, 42, 94);
$color-light-3: rgb(255, 249, 227);
$color-light-2: rgb(178, 184, 181);
$color-light: hsl(0,0,100%)

// $color-light: rgb(26, 30, 44);
// $color-dark: rgb(176, 174, 166);