/*
    Define global variables {fonts, colors, etc.} for the site.
*/

$grid-opacity: 0.15;
$grid-thickness: 0.1rem;
$color-dark: rgb(0, 42, 94);
$color-light: rgb(250, 245, 222);
$color-light-2: rgb(178, 184, 181);
// $color-light: hsl(0,0,92%)

// $color-light: rgb(26, 30, 44);
// $color-dark: rgb(176, 174, 166);