// Atkinson Hyperlegible Next
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,400;0,600;1,400&display=swap');
$font-atkinson-hyperlegible-next: "Atkinson Hyperlegible Next", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
$font-silkscreen: 'Silkscreen', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
$font-yeseva-one: "Yeseva One", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&family=Yeseva+One&display=swap');
$font-tilt-warp: "Tilt Warp", sans-serif;