@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/reset';
@import 'base/typography';

@import 'layout/header';
@import 'layout/footer';

@import 'components/cards';

@import 'pages/home';


// Colors
$color-cornflower: #6677ff;
$color-cornflower-dark: #4455cc;

$page-bg: #eef2f7;
$highlight-color-active: $color-cornflower;
$highlight-color-inactive: $color-cornflower-dark;

body {
    font-family: $font-outfit;
    background-color: $page-bg;
    color: #000;
    margin: 0;
    padding: 0;
}

p {
    font-family: $font-atkinson-hyperlegible-next;
}

//----------------
/* assets/scss/main.scss */

// A mixin for creating a 2-column grid with an image and text.
// It accepts the proportion of width the image should take.
//
// @param $image-proportion - A percentage (e.g., 40%) or other unit
//                           that defines the width of the image column.

@mixin images-by-text($image-proportion) {
  display: flex;
  flex-wrap: wrap; // Allows columns to stack on small screens
  align-items: stretch;
  gap: 1rem; 
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: #d6e3f3;
  padding: 1rem;

  > .images {
    flex: 0 0 $image-proportion;
    border-radius: 0.75rem;
    overflow: hidden;
  }

  > .text {
    flex: 1;
    min-width: 250px;
  }
}

.images img {
    // min-width: 250px;
    width: 100%;
    display: block;
}

.portrait { @include images-by-text(30%); }
.project { @include images-by-text(30%); }

.quote {
    color: #000000;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 1rem;
    border-left: 4px solid $highlight-color-inactive;
    margin: 1rem 0;
    background-color: rgba($highlight-color-inactive, 0.1);
}

//----------------

a {
    color: $highlight-color-inactive;
    &:hover {
        color: $highlight-color-active;
    }    
}