@import 'base/reset';

@import 'base/themes';

@import 'base/base';
@import 'base/typography';
@import 'base/syntax-treesitter';

@import 'ui/mixins';
@import 'ui/panels';
@import 'ui/templates';
@import 'ui/components';
@import 'ui/animate';

@import 'layout/header';
@import 'layout/footer';

@import 'pages/home';
