
.card {
    background-color: rgba($color-light, 0.75);
    box-shadow: 0 0 0.5rem 0 rgba($color-dark, 0.25);
    border-radius: 3rem;
    box-sizing: border-box;
    
    margin: 2rem 0 2rem 0;
    height: 100%;
    padding: 2rem;
  }
  
.card-split {
    @extend .card;
    display: flex;

    .left {
        box-shadow: 0 0rem 0.5rem 0 rgba($color-dark, 0.25);
        border-radius: 1rem;
        overflow: hidden;
        height: fit-content;
        transition: transform 0.3s ease;

        & > img {
            width: 100%;
            display: block;
        }
    }

    &:hover .left {
        transform: rotate(-2deg) translate(-5px, -5px);
    }

    .right {
        padding: 0 0 0 2rem;
    }
}

// Card variants
.card-third {
    @include split-lr(3);
    @extend .card-split;
}

.card-fourth {
    @include split-lr(4);
    @extend .card-split;
}

.card-fifth { 
    @include split-lr(5);
    @extend .card-split;
}

.card-sixth {
    @include split-lr(6);
    @extend .card-split;
}

