/*
    Formatting for the header bar.
*/

.site-header {
    margin: 2rem 0;

    nav {
        display: flex; 
        gap: $grid-spacing; 
        justify-content: left; 
    }


    .container-tag {
        padding: 0.5rem 1rem;
        margin:0;
    }
    .container-tag:hover {
        padding: 0.5rem 2rem;
    }
}
