/* 
    Formatting for the main/home page.
*/
@import "../base/typography";

.page-home {
  .quote {
    background-color: rgb(204, 234, 255);
    .text {

    }
    .author {

    }

  }

  .welcome {
    display: flex;
    background-color: #FCC;
    .portrait {
      flex: 0;
      & > img {
        display: block;
      }
    }
    .text {
      flex: 1;
    }
  }

  .projects {
    background-color: #CFC;
    display: flex;
    .content {
      display: block;
      flex: 0 1 25%;
      flex-wrap: wrap;

      & > img {
        height: auto;
        width: 100%;
        object-fit: cover;
        display: block;
      }
    }
    .markdown {
      flex: 1;
    }
  }
}