<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ .Description }}">
        <title>{{ .Title }} | My Site</title>

        <!-- <link rel="stylesheet" href="/css/style.css"> -->
        {{ $style := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
    </head>
    <body class="{{ if .IsHome }}page-home{{ else }}page-{{ .Section }}{{ end }}">
        <div>
            {{ if not .IsHome }}
            <!-- We use a custom header for the home page which is defined in its main.html -->
            {{ partial "header.html" . }}
            {{ end }}

            <main>
                {{ block "main" . }}{{ end }}
            </main>

            {{ partial "footer.html" . }}

            <!-- Add the resizing script here; NOTE I don't know what js.Build does -->
            {{ $remResizeScript := resources.Get "js/rem-height-ceil.js" | js.Build }}
            {{ if $remResizeScript }}
                <script src="{{ $remResizeScript.RelPermalink }}"></script>
            {{ end }}
        </div>
    </body>
</html>