{{/* This content will be injected into the baseof.html template */}}
{{ define "main" }}
    <!-- welcome text and portrait -->
    <div class="home-welcome">
        <div class="container-card rem-height-ceil-js">
            <h1>{{ .Params.title }}</h1>
            <!-- enumerate the web pages in the site -->
            <div class="box" style="padding: 0; margin-bottom: 2rem;">
                <nav style="display: flex; gap: 1rem; justify-content: left;">
                    <a href="/" class="tag">Home</a>
                    <a href="/projects" class="tag">Projects</a>
                    <a href="/blog" class="tag">Blog</a>
                    <a href="/pebbles" class="tag">Pebbles</a>
                </nav>
            </div>
            <div class="split-lr-3">    
                <div class="container-squircle live-nudge">
                    <img src="{{ .Params.portrait }}" alt="{{ .Params.portrait_alt_text }}">
                </div>
                <div class="container-box">
                    <h5>{{ .Params.welcome_text | .RenderString (dict "display" "block") }}</h5>
                </div>
            </div>
        </div>
    </div>
        
    {{ .Content }}
    
    <!-- some projects -->
    <div> 
        <!-- enumerate some projects which are allowed as 'featured', sorted by date -->
        {{ range first 5 
            (where 
                (where .Site.Pages.ByDate.Reverse "Section" "projects") 
            ".Params.featured" true) 
        }}
        <div class="home-projects rem-height-ceil-js">
            {{ $page := . }}
            <div class="container-card split-lr-5">
                <div class="container-squircle live-nudge">
                    {{ range .Params.media }}
                        <img 
                            src='{{ $page.RelPermalink }}{{ index . "content" }}{{ . }}'
                            alt='{{ index . "alt_text" }}'
                        >
                    {{ end }}
                </div>
                <div class="container-box">
                    {{ .Params.description | .RenderString (dict "display" "block") }}
                    <div style="text-align: right;">
                        <h6 style="margin: 0; line-height: 0"><em>{{ .Params.Date | time.Format "2006/1/2" }}</em></h6>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
{{ end }}