{{/* This content will be injected into the baseof.html template */}}
{{ define "main" }}

    <!-- quote -->
    <div class="quote">
        <p>{{ .Params.quote }}</p>
        <p>--{{ .Params.quote_author }}</p>
    </div>

    <!-- welcome text and portrait -->
    <div class="welcome">
        <div class="portrait">
            <img src="{{ .Params.portrait }}" alt="{{ .Params.portrait_alt_text }}">
        </div>
        <div class="text">
            <p>{{ .Params.welcome_text }}</p>
        </div>
    </div>

    <!-- {{ .Content }} -->

    <!-- some projects -->
    <div> 
        <!-- enumerate some projects which are allowed as 'featured', sorted by date -->
        {{ range first 5 
            (where 
                (where .Site.Pages.ByDate.Reverse "Section" "projects") 
            ".Params.featured" true) 
        }}
            <div class="projects">
                {{ $page := . }}
                <div class="content">
                    {{ range .Params.media }}
                        <img 
                            src='{{ $page.RelPermalink }}{{ index . "content" }}{{ . }}'
                            alt='{{ index . "alt_text" }}'
                        >
                    {{ end }}
                </div>
                <div class="markdown">
					<h3>{{ .Title }}</h3>

					<!-- attaches hyperlinks to authors with urls -->
					{{ $authors_maybelink := slice }}
					{{ range .Params.authors }}
						{{ if .url }}
							{{ $authors_maybelink = $authors_maybelink | append (printf "<a href=\"%s\">%s</a>" .url .name) }}
						{{ else }}
							{{ $authors_maybelink = $authors_maybelink | append .name }}
						{{ end }}
					{{ end }}
					<h4>{{ delimit $authors_maybelink ", " | safeHTML }}</h4>
                    
                    <p>{{ .Params.description }}</p>
                    {{ range .Params.links }}
                        <a href="{{ .url }}">{{ .text }}</a>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </div>
{{ end }}